[data-bs-theme=dark] {
    --bs-body-color: #c7cdd3;
    --bs-secondary-color: rgba(173, 181, 189, 0.8);
    --bs-border-color: var(--bs-dark-border-subtle);
}

[data-bs-theme=dark] body{
    background-color: #121212;
}

html { 
    height:100%;
}
body { 
    min-height:100%;
    display: flex;
    flex-direction: column;
}

p{
    margin-bottom: 0;
}

.bg-surface1{
    background-color: var(--bs-gray-800);
    border-radius: 0.25rem;
}

.table-responsive{
    max-height: 430px;
}

.disconnect-btn{
    position: absolute;
    right: 0;
    top: 0;
    margin-top: auto;
    margin-bottom: auto;
    display: block;
}

.btn-spotify{
    --bs-btn-color: black;
    --bs-btn-font-weight: 500;
    --bs-btn-bg: #1db954;
    --bs-btn-border-color: #1db954;
    --bs-btn-active-color: black;
    --bs-btn-active-bg: #1aa74b;
    --bs-btn-active-border-color: transparent;
    --bs-btn-hover-color: black;
    --bs-btn-hover-bg: #2bde6a;
    --bs-btn-hover-border-color: transparent;
    --bs-btn-disabled-color: black;
    --bs-btn-disabled-bg: #1db954;
    --bs-btn-disabled-border-color: transparent;
}

.nav{
    --bs-nav-link-color: #2bde6a;
    --bs-nav-link-hover-color: #1db954;
    --bs-nav-link-padding-y: 0.75rem;
}

.nav-pills{
    --bs-nav-pills-link-active-bg: #1db954;
}

.tab-content>.active.ad-flex{
    display: flex;
}

.multiselect-native-select{
    width: 100%;
}

.font-weight-bold{
    font-weight: bold;
}

tr.detail-view > td{
    padding: 0;
}

#back-to-top-btn{
    display: none;
    position: fixed;
    right: 20px;
    bottom: 20px;
    z-index: 200;

    --bs-btn-color: black;
    --bs-btn-font-weight: 500;
    --bs-btn-bg: #1db954;
    --bs-btn-border-color: #1db954;
    --bs-btn-active-color: black;
    --bs-btn-active-bg: #1aa74b;
    --bs-btn-active-border-color: transparent;
    --bs-btn-hover-color: black;
    --bs-btn-hover-bg: #2bde6a;
    --bs-btn-hover-border-color: transparent;
    --bs-btn-disabled-color: black;
    --bs-btn-disabled-bg: #1db954;
    --bs-btn-disabled-border-color: transparent;
}

/* .github-link{
    position: fixed;
    top: 0;
    left: 0;
    text-decoration: none;
    padding: 0.35rem;
    color: lightgray;
    font-weight: 300;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 0.25rem;
    z-index: 1;
}

.github-link:hover{
    color: gray;
    text-decoration: underline;
} */